<html>
<head>
	<title>Backbone</title>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="js/underscore-min.js"></script>
	<script type="text/javascript" src="js/backbone-min.js"></script>
	<script type="text/javascript" src="js/mustache.js"></script>
	<style>
		body{
			font-family: Arial;
			background-color: #212121;
			color: #FFFFFF;
		}
	</style>

</head>
<body>
	<div>
		<h1>BackboneJS</h1>
		<table>
			<tr>
				<td>Nombre:</td>
				<td><input type="text" name="nombre"></td>
			</tr>
			<tr>
				<td>Edad:</td>
				<td><input type="text" name="edad"></td>
			</tr>
			<tr>
				<td>Empleado:</td>
				<td><input type="checkbox" name="empleado"></td>
			</tr>
		</table>
		
		<button id="add">Agregar</button>
		<div>
		<table class="users-table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Age</th>
					<th>Employed</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="templates" style="visibility:hidden;">
		<table>
			<tbody data-template-name="user-row">
				<tr data-user-id="{{id}}">
					<td>{{nombre}}</td>
					<td>{{edad}}</td>
					<td>{{empleado}}</td>
					<td><button class="delete">Delete</button></td>
				</tr>
			</tbody>
		</table>
	</div>

		<table>
			<tr>
				<td>Nombre:</td>
				<td><span class="nombre"></span></td>
			</tr>
			<tr>
				<td>Edad:</td>
				<td><span class="edad"></span></td>
			</tr>
			<tr>
				<td>Empleado:</td>
				<td><span class="empleado"></span></td>
			</tr>
		</table>

	</div>
	<script type="text/javascript" src="js/core.js"></script>
</body>
</html>