<!DOCTYPE html>
<html>
  <head>
    <title>Sabados de Hacking!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <link href="css/style2.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Temas</a></li>
          <li><a href=<%= email %>/logout>Logout</a></li>
          <li><img src=<%= image %></li>
        </ul>
        <h3 class="text-muted">Sabados de Hacking!</h3>
      </div>

      <div class="jumbotron">
        <h1>Propone un tema <%= nombre %>!</h1>
        <p class="lead">Copate chabon y propone un tema, votalo, defendelo, promovelo, etc.</p>
        <p><a data-toggle="modal" href="#propone" class="btn btn-primary btn-lg">Propone</a></p>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <ul class="list-group">
          </ul>
        </div>
      </div>


      <div class="footer" class="text-center">
        <span id="email" ><%= email %></span>
        <p class="text-center">Sabados de Hacking 2013.</p>
        <!-- Button trigger modal -->
      </div>
  
    </div>

  <!-- Modal -->
  <div class="modal fade" id="propone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Nuevo tema</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="tema">Tema</label>
              <textarea class="form-control" rows="3" placeholder="Escribite algo al bulto!" id="tema" title="Se necesita un nombre" required></textarea>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" id="guardar">Guardar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

