<!DOCTYPE html>
<html>
  <head>
    <title>Sabados de Hacking!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.flaty.min.css" rel="stylesheet" media="screen">
    
    <link href="css/style2.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="container">
    <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Sabados de Hacking!</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Temas</a></li>
            <li><a href=<%= email %>/logout>Logout</a></li>
            <li><img class="resize" src=<%= image %>></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
      <div class="jumbotron">
        <h1>Propone un tema <%= nombre %>!</h1>
        <p class="lead">Copate chabon y propone un tema.</p>
        <p><a data-toggle="modal" href="#propone" class="btn btn-success btn-lg">Propone</a></p>
      </div>

      <div class="row">
        <div class="col-md-12">
          <ul class="list-group">
          </ul>
        </div>
      </div>


      <div class="footer" >
        <p id="email" class="text-center"><%= email %></p>
        <p class="text-center">Sabados de Hacking 2013.</p>
        <!-- Button trigger modal -->
      </div>
  
    </div>

  <!-- Modal -->
  <div class="modal fade" id="propone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Nuevo tema</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="tema">Tema</label>
              <input class="form-control" placeholder="Escribite algo al bulto!" id="tema" title="Se necesita un nombre" required>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" id="guardar">Guardar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

